<ilpn-page-layout>
    <h2>
        An implementation of
        <br> <a href="https://ieeexplore.ieee.org/abstract/document/8786047">Prime Miner - Process Discovery using Prime Event Structures</a> by R. Bergenthum published at ICPM 2019.
        <br> This implementation uses concurrency oracles to convert the input log into partial orders and then uses Petri net regions to synthesise a sequence of models from these partial orders according to the ideas presented in the paper.
    </h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload descriptionText="Drop a XES log file here" [fileDisplay]="fdLog" [showText]="log === undefined" (fileContent)="processLogUpload($event)"></ilpn-file-upload>

        <div fxLayout="column" fxLayoutAlign="center center">
            <span class="settings-title">Choose a concurrency oracle</span>
            <mat-form-field appearance="fill">
                <mat-label>Concurrency oracle</mat-label>
                <mat-select [formControl]="fcOracle">
                    <mat-option value="none">none</mat-option>
                    <mat-option value="alpha">α oracle</mat-option>
                    <mat-option value="timestamp">timestamp oracle</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle *ngIf="fcOracle.value === 'alpha'" [formControl]="fcAlphaDistinguishSameEvents" class="slider"><span class="font">distinguish same events</span></mat-slide-toggle>
            <mat-slide-toggle *ngIf="fcOracle.value === 'alpha'" [formControl]="fcAlphaStartStop" class="slider"><span class="font">add start/stop events</span></mat-slide-toggle>
        </div>

        <ilpn-file-download descriptionText="click to download synthesised nets" [fileDisplay]="fdPn" [disabled]="processing || resultFiles.length === 0" [files]="resultFiles"></ilpn-file-download>
    </div>

</ilpn-page-layout>
